.AuthButtons {
  height: 10vh;
  width: 50%;
  background-color: transparent;
  display: flex;
}
.AuthButton2 {
  width: 217px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;

  flex-shrink: 0;
  border-radius: 8px;

  border: none;
  margin: 1em auto;
  font-size: 1.3em;
  color: #474444;
}
.AuthButton2.selected {
  box-shadow: 0px 0px 50px 0px rgba(0, 25, 255, 0.24);
}
